*{
    padding: 0%;
    margin: 0%;
}
.main
{
    width: 50%;
    background:linear-gradient(to top,rgba(0,0,0, 0.5)50%,rgba(0,0,0, 0.5)50%),url(images/Thekkady1.jpg);
    background-size: cover;
    background-position: center;
    height: 10%;
    padding: 25%;
}

.icon
{
    top: 2%;
    position: absolute;
    
    
}
.logo
{
    color: turquoise;
 margin-left: auto;
}
ul{ top: 10px;
    float: right;
    display: flex;
    
}
ul li{
    font-size: 6px;
    list-style: none;
    margin-top: 10px;
    margin-left: 15px;
    float: right;
    top: 5px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
color: tomato;
}
.search
{
    float: left;
    margin-left: 200px;
    width: 100px;
}
.srh{
font-family: 'Times New Roman', Times, serif;
width: 70px;
background: transparent;
}
/*2*/
.sec
{
    background-color: darkorchid;
}
.hsec
{
    text-align: center;
    
}
.para
{   text-align: justify;
    font-size: 7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-left: 25px;
    margin-right: 25px;
}
/*slider*/

.slider
{  background-color: darkgrey;

    
}
.images
{
 display: flex;
 width: 100%;
 position: relative;
    width: 47%;
    overflow: hidden;
    margin-left: 25%;
    background-size: cover;
}
.images img
{ 
    height: 100px;
    width: 100%;
    transition: all 0.15s ease;

}
.images input
{
    display: none;
}
.dot
{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dot label
{
    height: 15px;
    width: 15px;
    border-radius: 50px;
    border: solid black 3px;
    cursor: pointer;
    transition: all 0.15s ease;
}
.dot label:hover{background: black;}
#img1:checked ~ .c1{
    margin-left: 0;
    width: 200px;
}
#img2:checked ~ .c2{
    margin-left: -100%;
    width: 200px;
}
#img3:checked ~ .c3{
    margin-left: -200%;
    width: 200px;
}
#img4:checked ~ .c4{
    margin-left: -300%;
    width: 200px;
}
.heading
{
    color: cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
   
}

.fourth
{
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}